.chat-wrap {
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
  /* position: relative; */
  overflow: hidden;
}

.chat {
  list-style: none;
  height: 80%;
  -webkit-margin-before: 0;
  /* -webkit-margin-after: 0; */
  -webkit-padding-start: 0;
  overflow: scroll;
  /* margin-bott */
}

.message {
  margin-top: 10px;
  word-wrap: break-word;
}

.text {
  line-height: 1.3;
}

.ctrl-text {
  /* height: 60%; */
  width: 100%;
  margin-bottom: 5%;
  font-size: 14px;
  resize: none;
}

.ctrl-text:focus {
  outline: none;
}

.ctrl-btn {
  height: 25px;
}

.chat-ctrl {
  bottom: 0;
  height: 10%;
  width: 100%;
  text-align: right;
  /* position: absolute; */
  /* padding: inherit; */
}